.app {
    margin: auto;
    max-width: 895px;
    width: calc(100% - 20px);
}

.results {
    margin-top: 20px;
}

.movie-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about {
    margin-top: 20px;
}