/* Using the grid layout method from here to pin 'about' section to the bottom of the page, unless the other content pushes it further down: https://css-tricks.com/couple-takes-sticky-footer/ */

#root {
    background: #ededed;
}

.app {
    margin: auto;
    max-width: 895px;
    width: calc(100% - 20px);

    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

.site-title {
    padding-top: 20px;
}

.results {
    margin-top: 20px;
}

.movie-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
}

@media (max-width: 46rem) {
    .movie-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 35rem) {
    .movie-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 20rem) {
    .movie-cards {
        grid-template-columns: 1fr;
    }
}

.border-shadow {
    box-shadow: 4px 4px 5px rgb(170, 170, 170);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about {
    margin-top: 20px;
    margin-bottom: 20px;
}